@using Achiles.Codex.Web.Misc
@model Achiles.Codex.Web.Models.AttributeInfo

<h2>Edit @Model.Name</h2>

<form role="form" method="post">
    <div class="form-group">
        @Html.HiddenFor(m=>m.Id)
        <label for="Description">Attribute description</label>
        <textarea rows="10" class="form-control" id="Description" name="Description" placeholder="Enter attribute description">@HttpUtility.HtmlEncode(Model.Description)</textarea>
    </div>
    <div class="form-group">
        <label for="Order">Order</label>
        <input class="form-control" type="text" id="Order" name="Order" value="@Model.Order" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-default" href="@Url.Action("Index", "Attributes")">Back to the list</a>
</form>
