
@using Achilles.Codex.Web.Misc
@model IEnumerable<Achilles.Codex.Model.AttributeInfo>

<h2>Attributes</h2>
<p class="text-muted">
    Attributes – numerical values of certain physical or mental qualities. Attributes are used in all combat and similar (turn based or instant) situations.
</p>
<hr />
@if (User.IsContributor())
{
    <p>
        <a href="@Url.Action("Edit")" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New attribute
        </a>
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Description</th>
            <th>Order</th>
            @if (User.IsContributor())
            {
                <th>Edit</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td><a href="@Url.Action("RedirectToitem", "Codex",new {id= @a.Id})">@a.Name</a> </td>
                <td>@a.Description</td>
                <td>@a.Order</td>
                @if (User.IsContributor())
            {
                <td style="text-align: center">
                    <a href="@Url.Action("Edit", new { id = a.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </td>
            }
            </tr>
        }

    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">

       

    </script>
}