@model Achilles.Codex.Model.Article
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Id)?"New article" : string.Format("Edit article {0}", Model.Name);
}

<h2>@ViewBag.Title</h2>
<form method="post" class="form-horizontal">

    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Name, short description and Icon Url</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="form-control" id="Name" name="Name" placeholder="Enter article title" value="@Model.Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea rows="8" class="form-control" id="ArticleBody" name="Description">@HttpUtility.HtmlDecode(Model.Description)</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="IconUrl" class="col-sm-2 control-label">Icon Url</label>
                <div class="col-sm-10">
                    <input class="form-control" id="IconUrl" name="IconUrl" placeholder="Icon url" value="@Model.IconUrl">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Related items & tags</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="Tags" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <select multiple data-role="tagsinput" id="CodexItem_Tags" name="Tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <option value="@tag">@tag</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="RelatedItems" class="col-sm-2 control-label">Related items</label>
                <div class="col-sm-10">
                    <select multiple data-role="tagsinput" id="CodexItem_RelatedItems" name="CodexItem.RelatedItems">
                        @foreach (var relatedItem in Model.RelatedCodexItems)
                        {
                            <option value="@relatedItem.Id">@relatedItem.Id</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default" href="@Url.Action("List", new {tag = @ViewBag.Tag})">Back</a>
    </div>
</form>

@section Head
{
    @Styles.Render("~/Content/edit-codex-item-basic-info")
    @Styles.Render("~/Content/edit-codex-item-article")
}

@section scripts
{
    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")

    @Scripts.Render("~/bundles/edit-codex-item-basic-info")
    @Scripts.Render("~/bundles/edit-codex-item-article")

}
