@using Achilles.Codex.Model
@using Achilles.Codex.Web.Misc
@model Achilles.Codex.Web.Models.DefaultCodexItemViewModel


@if (Model == null)
{
    <p class="alert alert-warning">Item not found.</p>
}
else
{
    <h2>@Model.Item.Name</h2>
    <hr />
    <p style="vertical-align: top;">
        
        <img class="img-thumbnail" src="@(Model.Item.IconUrl ?? "http://www.londonnights.com/gfx/default/search_no_photo.png")" />
        @Html.Raw(Model.Item.Description)
    </p>
    <hr />

    if (Model.Body != null)
    {
        @Html.Raw(Model.Body.Text ?? "Body is empty")
        <hr />
    }
    <p>
        @Html.Raw(Html.Dump(Model.Item))
    </p>
    <hr/>
    <p>
        @Html.Partial("_taglistview", Model.Item.Tags)
    </p>
    <p>
        @Html.Partial("_relatedItemsView", Model.Item.RelatedCodexItems)
    </p>
}
