@using Achilles.Codex.Web.Misc
@model Achilles.Codex.Web.Models.DefaultItemViewModel

<h2>@Model.CodexItem.Name</h2>
<p>
   
    <div class="row">
        <div class="col-lg-1">
            @if (!string.IsNullOrEmpty(Model.CodexItem.IconUrl))
            {
                <img class="thumbnail" src="@Model.CodexItem.IconUrl" alt="@Model.CodexItem.Name" />
            }
        </div>
        <div class="col-lg-11">
            @Html.Raw(Model.CodexItem.Description)
        </div>
    </div>

</p>
    @if (!string.IsNullOrEmpty(Model.Body))
    {
<p>
    @Html.Raw(Model.Body)
</p>

    }

@Html.Raw(Html.Dump(Model.CodexItem))
<p>
    @Html.Partial("_taglistview", Model.CodexItem.Tags)
</p>
<p>
    @Html.Partial("_relatedItemsView", Model.CodexItem.RelatedCodexItems)
</p>

