@using Achiles.Codex.Web.Misc
@model Achiles.Codex.Model.CodexItem


@if (Model == null)
{
    <p class="alert alert-warning">Item not found.</p>
}
else
{
    <h2>@Model.Name</h2>
    <hr />
    <p>
        @Html.Raw(Model.Description)
    </p>

    if (!string.IsNullOrEmpty(Model.ToString()))
    {
        <p>
            @Html.Raw(Html.Dump(Model))
        </p>
    }
    <p>
        @Html.Partial("_taglistview", Model.Tags)
    </p>
    <p>
        @Html.Partial("_relatedItemsView", Model.RelatedCodexItems)
    </p>
}
