@model Achilles.Codex.Web.Controllers.MeleeWeaponController.WeaponListViewModel
@using System.Web.Http.Results
@using Achilles.Codex.Web.Misc


<h2>Melee weapons</h2>
<hr />

@if (User.IsContributor())
{
    <p>
        <a class="btn btn-default" href="@Url.Action("Edit")"><span class="glyphicon glyphicon-plus"></span>&nbsp;New melee weapon</a>
    </p>
}
<table class="table table-striped" id="weapon-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Min STR</th>
            <th>Weight</th>
            <th>Price</th>
            @foreach (var x in Model.AttackTypes)
            {
                <th>@x base damage</th>
                <th>@x effects</th>
            }
            @if (User.IsContributor())
            {
                <th>Edit</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var weapon in Model.Weapons)
        {
            <tr>
                <td><a href='@Url.Action("RedirectToItem", "Codex", new {id=weapon.Id})'>@weapon.Name</a></td>
                <td>@weapon.MinimumStrenght</td>
                <td>@weapon.Weight</td>
                <td>@weapon.Price</td>
                
                @*this sux*@
                @foreach (var x in Model.AttackTypes)
                {
                    var t = weapon.AttackTypes.FirstOrDefault(z => z.Type == x);
                    if (t!=null)
                    {
                    <td>
                        @t.DamageValue + @t.ArmorPiercingModifier
                    </td>
                    <td>
                        @t.ToString()
                    </td>    
                    }
                    else
                    {
                     <td>-</td>
                     <td>-</td>
                    }
                }
            @if (User.IsContributor())
            {
                <td style="text-align: center">
                    <a href="@Url.Action("Edit", new { id = weapon.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </td>
            }

            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        
        $("#weapon-table").tablecloth({
            theme: "default",
            bordered: false,
            condensed: false,
            striped: true,
            sortable: true,
            clean: false,
            cleanElements: "th td"
        });
    </script>
}
