@model Achilles.Codex.Web.Models.CodexItemModel<Achilles.Codex.Model.CombatSkill>

@if (Model.IsNew)
{
    <h2>New combat skill</h2>
}
else
{
    <h2>Edit combat skill <em>@(Model.CodexItem.Name ?? "<new CombatSkill>") </em></h2>
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#basic-info" data-toggle="tab">Basic information</a></li>
    <li><a href="#article" data-toggle="tab">Article</a></li>
    <li><a href="#features" data-toggle="tab">Features</a></li>
</ul>
<br />
@Html.ValidationSummary(false)

<form method="post" class="form-horizontal">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="basic-info">
            @Html.Partial("_EditCodexItemBasicInfoView", Model)
        </div>
        <div class="tab-pane fade in" id="article">
            @Html.Partial("_EditCodexItemArticleView", Model)
        </div>
        <div class="tab-pane fade in" id="features">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="CodexItem_Features" class="col-sm-2 control-label">Features</label>
                        <div class="col-sm-10">
                            <select multiple data-role="tagsinput" id="CodexItem_Features" name="CodexItem.Features">
                                @foreach (var feature in Model.CodexItem.Features)
                                {
                                    <option value="@feature">feature</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr />
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default" href="@Url.Action("Index")">Back</a>
    </div>
</form>

@section Head
{
    @Styles.Render("~/Content/edit-codex-item-basic-info")
    @Styles.Render("~/Content/edit-codex-item-article")
}

@section scripts
{
    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")

    @Scripts.Render("~/bundles/edit-codex-item-basic-info")
    @Scripts.Render("~/bundles/edit-codex-item-article")

    <script type="text/javascript">

        $('#CodexItem_Features')
            .tagsinput({
                confirmKeys: [13, 44]
            });
        var featuresInput = $('#CodexItem_Features').tagsinput('input');

        featuresInput.typeahead([
            {
                limit: 10,
                name: 'features',
                valueKey: 'Id',
                remote: window.codex.urls.codexItemSuggestUrl + '/f:' + '%QUERY',
                template: '<h5><strong>{{Name}}</strong> <small class="pull-right">{{{objectTypeName ObjectType}}}</small></h5>',
                engine: T,
            }
        ]).bind('typeahead:selected', $.proxy(function(obj, datum) {

            console.log(datum);
            this.tagsinput('add', datum.Id);
            this.tagsinput('input').typeahead('setQuery', '');

        }, $('#CodexItem_Features')));
    </script>

}




