@model Achilles.Codex.Web.Models.CodexItemModel<Achilles.Codex.Model.Rule>

@{
    ViewBag.Title = Model.IsNew? "New rule" : string.Format("Edit {0} rule", Model.CodexItem.Name); 
}

<h2>@ViewBag.Title</h2>
<ul class="nav nav-tabs">
    <li class="active"><a href="#basic-info" data-toggle="tab">Basic information</a></li>
    <li><a href="#article" data-toggle="tab">Article</a></li>
</ul>
<br />
@Html.ValidationSummary(false)

<form class="form-horizontal" method="POST">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="basic-info">
            @Html.Partial("_EditCodexItemBasicInfoView", Model)
        </div>
        <div class="tab-pane fade in" id="article">
            @Html.Partial("_EditCodexItemArticleView", Model)
        </div>
    </div>
    <hr />
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default" href="@Url.Action("Index")">Back</a>
    </div>
    
</form>
}

@section Head
{
    @Styles.Render("~/Content/edit-codex-item-basic-info")
    @Styles.Render("~/Content/edit-codex-item-article")
}

@section scripts
{
    @*TODO:host editor scripts localy so that we can include them in the 'bundles/edit-codex-item-article' bundle and avoid copy-pastying to each form*@
    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")

    @Scripts.Render("~/bundles/edit-codex-item-basic-info")
    @Scripts.Render("~/bundles/edit-codex-item-article")

}


