@using Achilles.Codex.Web.Misc
@model IEnumerable<Achilles.Codex.Model.Rule>

@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>
<hr/>
@if (User.IsContributor()) 
{
    <p>
        <a class="btn btn-default" href="@Url.Action("Edit")" title="New skill feature">
            <span class="glyphicon glyphicon-plus-sign"></span> New Rule
        </a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rule</th>
            <th>Description</th>
            <th>Tags</th>
            @if (User.IsContributor())
            {
                <th>Edit</th>
            }
        </tr>
   </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td><a href="@Url.Action("RedirectToitem", "Codex",new {id= @a.Id})">@a.Name</a> </td>
                <td>@a.Description</td>
                <td>@Html.Partial("_TagListView", a.Tags)</td>
                @if (User.IsContributor())
                {
                    <td style="text-align: center">
                        <a href="@Url.Action("Edit", new { id = a.Id})" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                    </td>
                }
            </tr>
        }

    </tbody>

</table>