@using Achiles.Codex.Model
@using Achiles.Codex.Web.Misc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Codex</title>
    @RenderSection("Head", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Achiles Codex", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Codex <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Attributes")">Attributes</a></li>
                        </ul>
                    </li>
                    @if (User.IsAdmin())
                    {
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Administration <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Users","Admin")">Users</a></li>
                            <li><a href="@Url.Action("Init","Admin")">Initialize database</a></li>
                        </ul>
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                <form class="navbar-form navbar-left" role="search" method="POST" action="@Url.Action("Results","Search")"  >
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search codex" id="query" name="query" value="@Request["query"]" >
                    </div>
                    <button type="submit" class="btn btn-default" id="search" data-toggle="popover" data-original-title="Search tips"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
          </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.UserInterfaceMessages != null)
        {
            <p>
                @foreach (UserInterfaceMessage msg in ViewBag.UserInterfaceMessages)
                {
                    <p class="alert alert-@msg.MessageType.ToString().ToLower()">
                        @if (!string.IsNullOrEmpty(msg.StrongMessage))
                        {<strong>@msg.StrongMessage</strong>}&nbsp;@msg.Message
                    </p>
                }
            </p>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Achiles.Codex</p>
        </footer>
    </div>
    <div id="search_help" class="hidden">
        <p><span class="label label-info">Full-text search</span> <strong>!</strong><i>query</i></p>
        <p>Searches in description instead of in a codex item name.</p>
        <p><span class="label label-info">Tag search</span> <i>query</i><strong>@@tag1,tag2</strong></p>
        <p>Search only for items that have specified tags.</p>
        <p><span class="label label-info">Type search</span> <strong>article,skill:</strong><i>query</i></p>
        Searches only in specific types of codex items. You can use follwing abbreviations: <i>at, ar, rs, sk, r, cs, m, s,t, cg, ncg, eq.</i> 
        
        <p>You can combine all the rules together, like in folowing example lets search in a description of all <i>comabt gear</i> codex items tagged as <i>experimental</i> containing keywords <i>super awsome</i></p>
        <p><span class="label label-default">Example</span><br/><a href="@Url.Action("Results", "Search", new { query = "!cg:super awsome@@experimental" })">!cg:super&nbsp;awsome@@experimental</a></p>
    </div>
    
    <script type="text/javascript">
        
        window.codex = window.codex || {};
        window.codex.objectTypeNames = { @Html.Raw(string.Join(",", Enum.GetNames(typeof (CodexItemType)).Select((x, i) => string.Format("{0}:'{1}'", i, x)))) };
        window.codex.urls = window.urls || {};

        window.codex.urls.tagsSuggestUrl = '@Url.Action("Suggest","Tags")';
        window.codex.urls.codexItemSuggestUrl = '@Url.Action("Find", "Codex")';
        window.codex.urls.searchCodexUrl = '@Url.Action("Results", "Search")';

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")

    @RenderSection("scripts", required: false)
        <script type="text/javascript">
            //help tooltip
            $('#search').popover(
                {
                    'delay': { show: 1000, hide: 100 },
                    'html':true,
                    'content' :$('#search_help').html(),
                    'placement': 'bottom',
                    'trigger': 'hover'
                });
        </script>
</body>
</html>
