@model Achilles.Codex.Web.Models.EditUserModel

@{
    ViewBag.Title = "Edit user";
}

<h2>Edit @Model.UserName user</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="row">
                <div>@Html.LabelFor(x=>x.IsAdmin)</div>
                <div>@Html.EditorFor(x => x.IsAdmin)</div>
            </div>
            <div class="row">
                <div>@Html.LabelFor(x => x.IsContributor)</div>
                <div>@Html.EditorFor(x => x.IsContributor)</div>
            </div>
            
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input value="Delete" class="btn btn-danger disabled" />
                <a href="@Url.Action("Users")" class="btn btn-default" >Back to list</a>
            </div>
            
        </div>
}


