@model Achiles.Codex.Web.Models.CodexItemModel<Achiles.Codex.Model.NcgEquipmentItem>

@if (Model.IsNew)
{
    <h2>New Non-combat Equipment Item</h2>
}
else
{
    <h2>Edit Non-Combat Equipment Item <em>@(Model.CodexItem.Name ?? "<new rule>") </em></h2>
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#basic-info" data-toggle="tab">Basic information</a></li>
    <li><a href="#article" data-toggle="tab">Article</a></li>
</ul>
<br />
@Html.ValidationSummary(false)

@using ((Html.BeginForm()))
{
    <div class="tab-content">
        <div class="tab-pane fade in active" id="basic-info">
            @Html.Partial("_EditCodexItemBasicInfoView", Model)
        </div>
        <div class="tab-pane fade in" id="article">
            @Html.Partial("_EditCodexItemArticleView", Model)
        </div>
    </div>
    <hr />
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save article</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Save and create new</a></li>
            <li><a href="#">Save and return to list</a></li>
            <li class="divider"></li>
            <li><a href="#">Save and do something unexpected</a></li>
        </ul>
    </div>
}

@section Head
{
    @Styles.Render("~/Content/edit-codex-item-basic-info")
    @Styles.Render("~/Content/edit-codex-item-article")
}

@section scripts
{
    @*TODO:host editor scripts localy so that we can include them in the 'bundles/edit-codex-item-article' bundle and avoid copy-pastying to each form*@
    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")

    @Scripts.Render("~/bundles/edit-codex-item-basic-info")
    @Scripts.Render("~/bundles/edit-codex-item-article")

}


<

